#!/usr/bin/env xdg-open
[Desktop Entry]
Name=
GenericName=
Comment=
Exec=xhost +si:localuser:$USER && docker run --rm --device=/dev/sr0 -v /tmp/.X11-unix:/tmp/.X11-unix:ro -v $HOME/.config/pulse/cookie:/home/user/.config/pulse/cookie:ro -v $HOME:/home/user kry07/none
Icon=
Terminal=false
Type=Application
Categories=
MimeType=
