#!/usr/bin/env xdg-open
[Desktop Entry]
Name=
GenericName=
Comment=
Exec=docker start skypd
Icon=
Terminal=false
Type=Application
Categories=
MimeType=
